body {
    background-color: beige;
}

h10 {
margin-left: 40%;
font-size: 40px;
}

p10 {
margin-left: 10%;
font-size: 20px;
}

form2
{
padding: 10px;
}
div2 {
display: block;
margin-left: 40%;
}
#generate {
border-radius: 5px;
border-color: dimgray;
width: 25%;
margin-left: 5%;
border-width: 1px;
color:aquamarine;
background-color:black;
}
#Answer {
border-radius: 5px;
border-color: blue;
width: 25%;
margin-left: 5%;
border-width: 1px;
color:aquamarine; 
background-color:black;   
}
input[type = "text"]{
text-align: center;
}